{% block header %}
<!DOCTYPE html>
<html {{ fn('language_attributes') }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ fn('wp_head') }}

        <title>{{ fn('wp_title', '&raquo;', true, 'right') }} {{ fn('get_bloginfo') }}</title>
    </head>
    <body>
        <div class="rot-main-container">
{% endblock %}

{% block container %}
<div class="rot-content">
    {% block content %}

    {% endblock %}
</div>
{% endblock %}

{% block footer %}
        </div>
        {{ fn('wp_footer') }}
    </body>
</html>
{% endblock %}